.stocks-history-wrapper{
    display: flex;
    flex-direction: column;
    padding: 14px 10px;
    h5{
        text-align: center;
    }
    height: 300px;

// max-height: 50%;
// overflow: hidden;
    
        
            .history-table-row-container{
                display: flex;
                justify-content: center;
                height: 335px;
                overflow: scroll;
                .history-table{
                    // display: flex;
                    // flex-direction: column-reverse;
          
             .history-table-row{
                 display: flex;
                 flex-direction: row;
                 justify-content: space-evenly;
                 align-items: center;
                width: 250px;
                line-height:1.3em;
                border-top: 1px solid #888;
                border-bottom: 1px solid #888;
                box-shadow: -1px 13px 9px -13px #888888;
                font-size: smaller;
                

                &:hover{
                    background:#f5f5f5;
                }
            }
        }
        }
    
}
.delete-icon{
    display: flex;
    justify-content: flex-end;
}