
  
     .label-table-row{
        /* width: 20%; */
        line-height:2em;
        border-top: 1px solid #888;
        /* border-bottom: 1px solid #888; */
        /* box-shadow: -1px 13px 9px -13px #888888; */
        font-size: smaller;
    }

    .label-table-row:hover{
        background:#f5f5f5;
    }

    .label-table-row > td{
        width: 10px;
    }

    .stocks-table{
        overflow: scroll;
    }
    
